.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.currentSlide {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-background);
}
